<!DOCTYPE html>
<html>
    <head>
        <title>Site</title>
        <link rel="icon" type="image/x-icon" href="../static/icon.png">
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <!-- <script src="myscript.js"></script> -->
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/bg/">Начало</a></li>
                <li><a href="/bg/upload">Изкуствен интелект</a></li>
                <li><a href="/bg/temp">Темп</a></li>
                <li>
                    <a href="/">Език:</a>
                    <img src="../static/lang-icons/bg.png" alt="Flag of Bulgaria">
                </li>
            </ul>
        </nav>
        <div class="intro">
            <h1>Сигурност</h1>
            <p>
                сигурност сигурност
            </p>
        </div>
    </body>
</html>