<!DOCTYPE html>
<html>
    <head>
        <title>качване на файл</title>
        <link rel="icon" type="image/x-icon" href="../static/icon.png">
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <!-- <script src="myscript.js"></script> -->
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/bg/">Начало</a></li>
                <li><a href="/bg/upload">Ълоудване</a></li>
                <li><a href="/bg/temp">Темп</a></li>
                <li>
                    <a href="/upload">Език:</a>
                    <img src="../static/lang-icons/bg.png" alt="Flag of Bulgaria">
                </li>
            </ul>
        </nav>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <label for="file">
                <span class="material-symbols-outlined">upload</span>
                Избери файл
            </label>
            <button type="submit">Качи файл</button>
        </form>
    </body>
</html>