<!DOCTYPE html>
<html>
    <head>
        <title>idk</title>
        <link rel="icon" type="image/x-icon" href="../static/icon.png">
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <!-- <script src="myscript.js"></script> -->
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload page</a></li>
                <li><a href="/temp">Temp</a></li>
                <li>
                    <a href="/bg/">Language:</a>
                    <img src="../static/lang-icons/uk.png" alt="Flag of United Kingdom">
                </li>
            </ul>
        </nav>
        <p>temp</p>
    </body>
</html>