<!DOCTYPE html>
<html>
    <head>
        <title>ime na proekta / Upload</title>
        <link rel="icon" type="image/x-icon" href="../static/icon.png">
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/webcam.js"></script>
        
        <!-- <script src="myscript.js"></script> -->
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/upload">AI thing</a></li>
                <li><a href="/temp">Temp</a></li>
                <!--<li style="width: 20%; display: inline"></li>-->
                <li id="empty"><a style="justify-content: space-between; width: 1437px"></a></li>
                <li>
                    <a href="/bg/"><img src="../static/lang-icons/uk.png" alt="Flag of United Kingdom"></a>
                </li>
            </ul>
        </nav>
        <div class="disclaimer">
            <h1>Facial recognition</h1>
            <div class="subdisclaimer">
                <img src="../static/file-upload.png">
                <p>Avoid wearing hats.</p>
            </div>
            <div class="subdisclaimer">
                <img src="../static/file-upload.png">
                <p>Avoid wearing glasses.</p>
            </div>
            <div class="subdisclaimer">
                <img src="../static/file-upload.png">
                <p>Avoid using filters.</p>
            </div>
            <div class="subdisclaimer">
                <img src="../static/file-upload.png">
                <p>Ensure there is enough lighting.</p>
            </div>
        </div>

        <div class="camera">
                <video id="video">Video stream not available.</video>
                <button id="startbutton">Take photo</button>
                <div class="output">
                    <!-- <img id="photo" alt="The screen capture will appear in this box." /> -->
                    <canvas id="canvas"> </canvas>
                </div>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                <!-- <input type="file" name="file" id="file"> -->
                <!-- <label for="file">
                    <img src="../static/file-upload.png" alt="File upload icon">
                    Choose a file
                </label> -->
                    <button type="submit">Upload</button>
                </form>
        </div>
        <!-- <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <label for="file">
                <img src="../static/file-upload.png" alt="File upload icon">
                Choose a file
            </label>
            <button type="submit">Upload</button>
        </form> -->
    </body>
</html>