<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <title>Password manager</title>
        <link rel="stylesheet" href="../static/homepage.css">
    </head>
    <body>
 
        <div class="desc">
            <h1>&#160;&#160;&#160;&#160;&#160;&#160;FaceVault</h1>
        <h2>Направете живота си по-лесен и сигурен с нашия уникален мениджър на пароли! Използвайки най-новите технологии за разпознаване на лица и криптиране на пароли, FaceVault предлага максимална защита на вашите лични данни. Никога повече няма да се притеснявате от забравени пароли или потенциални кибер атаки. Изберете FaceVaultи спокойно се наслаждавайте на онлайн преживяването!</h2>
        </div>
        <form action="/signup/">
            <input class="buton" id="signup" type="submit" value="Sign up" />
        </form>
        <form action="/login/">
            <input class="buton" id="login" type="submit" value="Log in"/>
        </form>
    </body>
</html>
