<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <title>Password manager</title>
        <link rel="stylesheet" href="../static/homepage.css">
    </head>
    <body>
 
        <div class="desc">
            <h1>&#160;&#160;Password manager</h1>
        <h2>Представяме проект, който има за цел да защити паролите на потребителите. За да се поддържа високо ниво на сигурност, съхранението на тези пароли, които потребителят подава, се извършва чрез криптиране. Уебсайтът ще функционира чрез създаване на профил, който не изисква имейл или парола, а само профилна снимка на потребителя. За да се гарантира сигурността на акаунта, всеки път, когато потребителят реши да получи достъп до своя акаунт, той ще трябва да направи определено изражение на лицето пред камерата (например усмивка). Когато алгоритъмът отчете, че дадена имитация е била успешно изпълнена, потребителят получава достъп до своя акаунт. Освен това уебсайтът ще предлага и възможност за създаване на нови сигурни пароли.</h2>
        </div>
        <form action="/signup/">
            <input class="buton" id="signup" type="submit" value="Sign up" />
        </form>
        <form action="/login/">
            <input class="buton" id="login" type="submit" value="Log in"/>
        </form>
    </body>
</html>
