<html>
    <head>
    <meta charset="UTF-8">
        <title>Passwords</title>
        <script src="../static/dynamic_menu.js"></script>
        <script src="../static/form.js"></script>
        <script src="../static/webcam.js"></script>
        <link rel="stylesheet" href="../static/dynamic_menu.css">
        <link rel="stylesheet" href="../static/form.css">
        <link rel="stylesheet" href="../static/menu.css">
        <link rel="stylesheet" href="../static/passwords.css">
    </head>
    <body>
        <div id="menu_line">
            <button onclick="Menu()" id="MenuImage">
                <img src="../static/Menu.png" style="height: 2cm; width: 2cm;">
            </button>
            <p id="Title">Passwords</p>
        </div>
    <button id="add" class="FormInput" onclick="add_after()">Add</button>
        <form id="Form" action="" method="post">
            <button id="add_pass" class="FormInput" onclick="add_password()">Add password</button>
            <input type="text" name="site_url" placeholder="Website URL" id="site_url" class="FormInput _req">
            <input type="password" name="site_pass" placeholder="Website password" id="site_pass" class="FormInput _req">
            <input type="submit" id="save_sinfo" class="FormInput" value="Save">
            <button id="cancel_pass" class="FormInput" onclick="cancel_password()">Cancel</button>
            <!-- <input type="submit" id="submit" value="Sign up" class="FormInput">
            <input type="reset" id="reset" value="Reset" class="FormInput" onclick="fullReset()"> -->
            <!-- <button class="FormInput" id="takePhoto" onclick="takephoto()">Take photo</button> -->
        <!-- <p id="send">All input data are correct.<br>You can continue.<br></p> -->
        </form>
        <div id="Form" style="top: 50%">
            <div>
                <button id="passwordtable">Passwords</button>
                <div id="name"><p class="site_name">Site name</p></div>
                <div id="password"><p class="site_password">Site password</p></div>
                <div id="delete"><button class="delete_pass" onclick="delete_password(this.id)">Delete</button></div>
                <div id="copy"><button class="copy_pass">Copy</button></div>
            </div>
        </div>

    <div id="MainMenu">
        <div class="ButtonsPosition">
            <a href="index.html"><button class="button"><strong>Home</strong></button></a>
        </div>
        <div class="ButtonsPosition">
            <a href="menu.html"><button class="button"><strong>Menu</strong></button></a>
        </div>
        <div class="ButtonsPosition">
            <a href="about_us.html"><button class="button"><strong>About us</strong></button></a>
        </div>
    </div></body>
</html>
