<html>
    <head>
    <meta charset="UTF-8">
        <title>Passwords</title>
        <script src="../static/dynamic_menu.js"></script>
        <script src="../static/form.js"></script>
        <!--<script src="../static/webcam.js"></script-->
        <link rel="stylesheet" href="../static/dynamic_menu.css">
        <link rel="stylesheet" href="../static/form.css">
        <!--link rel="stylesheet" href="../static/menu.css"-->
        <link rel="stylesheet" href="../static/passwords.css">
    </head>
    <body>
        <div id="menu_line">
            <button onclick="Menu()" id="MenuImage">
                <img src="../static/Menu.png" style="height: 2cm; width: 2cm;">
            </button>
            <button id = "logout" onclick="logout()">Log out</button>
            <p id="Title">Passwords</p>
        </div>
        <form id="Form" action = "{{ url_for('passwords')}}" method = "POST" action="" method="post">
            <button type="button" id="add_pass" class="FormInput" onclick="add_password()">Add password</button>
            <input type="text" name="site_url" placeholder="Website URL" id="site_url" class="FormInput _req" required>
            <input type="password" name="site_pass" placeholder="Website password" id="site_pass" class="FormInput _req" required>
            <input type="submit" id="save_sinfo" class="FormInput" value="Save">
            <button id="cancel_pass" class="FormInput" onclick="cancel_password()">Cancel</button>
        </form>
        {% for data in data %}
        <p class = "VERY_IMPORTANT">{{ data }}</p>
        {% endfor %}
        
        {% for data2 in data2 %}
        <p class = "VERY_IMPORTANT2">{{ data2 }}</p>
        {% endfor %}
        <div id="Form" style="top: 50%">
            <div>
                <button id="passwordtable">Passwords</button>
                <div id="name"><p class="site_name">Site name</p></div>
                <div id="password"><p class="site_password">Site password</p></div>
                <div id="delete"><button class="delete_pass" onclick="set_password()">Generate Password</button></div>
                <div id="copy"><button class="copy_pass" id="c0">Copy</button></div>
            </div>
        </div>

    <div id="MainMenu">
        <div class="ButtonsPosition">
            <a href="homepage.html"><button class="button"><strong>Home</strong></button></a>
        </div>
        <div class="ButtonsPosition">
            <a href="signup.html"><button class="button"><strong>Sign up</strong></button></a>
        </div>
        <div class="ButtonsPosition">
            <a href="login.html"><button class="button"><strong>Log in</strong></button></a>
        </div>
    </div></body>
</html>
