body{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 5%, rgba(126,42,205,1) 93%);
}
html{
    height: 100%;
}
#Form{
    position: absolute;
    top: 42.5%;
    left: 20%;
    font-size: 2cm;
    border-radius: 5px;
    width: 30cm;
    height: 13cm;
    text-align: center;
    display: block;
    transition: 0.8s;
}
.FormInput{
    transition: 0.8s;
    border: 2px solid black;
    padding: 13px 13px;
    color: rgb(230, 227, 227);
    background-color: rgba(32, 44, 44, 1);
    font-family: monospace;
    font-size: 15pt;
    border-radius: 1cm;
}
.FormInput:hover{
    background-color: rgb(189, 188, 188);
    color: rgb(46, 45, 45);
    font-family: monospace;
    border-radius: 1cm;
    cursor: pointer;
}

.FormInput._error{
    box-shadow: 0 0 15px red;
}


#Name{
    width: 275px;
    height: 60px;
    position: absolute;
    left: 25%;
    top: 64%;
    cursor: text;
}

#Password{
    width: 275px;
    height: 60px;
    position: absolute;
    right: 25%;
    top: 64%;
    cursor: text;
}


#takePhoto{
    width: 275px;
    height: 60px;
    position: absolute;
    left: 25%;
    top: 81%;
    display: block;
}

#submit{
    width: 275px;
    height: 60px;
    position: absolute;
    left: 25%;
    top: 81%;
    display: none;
}

#reset{
    width: 275px;
    height: 60px;
    position: absolute;
    right: 25%;
    top: 81%;
}


#alert{
    font-size: 15px;
    color: red;
    display: none;
    font-family: monospace;
    text-shadow: 0 0 15px red;
}
#results{
    position: relative;
    top: -15%;
}
#Results{
    position: absolute;
    top: 15%;
    left: 12%;
    background-color: rgba(32, 44, 44, 1);
    font-size: 1.6cm;
    border: 2px solid white;
    width: 30cm;
    text-align: center;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    position: relative;
    top: -11%;
}
#send{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: whitesmoke;
    display: none;
    position: absolute;
    top: 2cm;
    left: 6.5cm;
}

.food{
    border-radius: 1cm;
    width: 2cm;
    height: 0.5cm;
    border-width: 0;
    font-size: 20px;
    text-align: center;
}

#video {
    display: flex;
    width: 400px;
    height: 300px;
    background-color: black;
    border-radius: 75px;
    align-items: center;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    /*Mirror code ends*/
}


#takenpic{
    display: flex;
    width: 400px;
    height: 300px;
    background-color: black;
    border-radius: 75px;
    align-items: center;
}

#dataURLfield{
    display: none;
}


.disclaimer {
    position: absolute;
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
	display: block;
}

.disclaimer > h1 {
	font-size: 50px;
	color: cyan;
	text-align: center;
}

.subdisclaimer {
	height: 150px;
	display: flex;

}

.subdisclaimer > img{
	width: 75px;
	height: 75px;
	margin: 30px;
}

.subdisclaimer > p{
	font-size: 37px;
	color: white;
}