#add{
    position: absolute;
    top: 476px;
    left: 300px;
}


#passwordtable{
    transition: 0.8s;
    border: 2px solid black;
    padding: 13px 13px;
    color: rgb(230, 227, 227);
    background-color: rgba(32, 44, 44, 1);
    font-family: monospace;
    font-size: 15pt;
    border-radius: 1cm;
    width: 79.5%;
    left: 10%;
    position: absolute;
}

#cancel_pass{
    position: absolute;
    left: 81%;
    width: 100px;
    height: 60px;
    display: none;
}

.copy_pass{
    transition: 0.8s;
    border: 2px solid black;
    padding: 13px 13px;
    color: rgb(230, 227, 227);
    background-color: rgba(32, 44, 44, 1);
    font-family: monospace;
    font-size: 15pt;
    border-radius: 1cm;
    position: absolute;
    left: 81%;
    width: 100px;
    height: 60px;
    display: block;
    top: 15%;
}


.copy_pass:hover{
    background-color: rgb(189, 188, 188);
    color: rgb(46, 45, 45);
    font-family: monospace;
    border-radius: 1cm;
    cursor: pointer;
}


#site_url {
    width: 275px;
    height: 60px;
    position: absolute;
    left: 10%;
    top: 0;
    display: none;
}

.site_name{
    transition: 0.8s;
    border: 2px solid black;
    padding: 13px 13px;
    color: rgb(230, 227, 227);
    background-color: rgba(32, 44, 44, 1);
    font-family: monospace;
    font-size: 15pt;
    border-radius: 1cm;
    width: 245px;
    height: 30px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: block;
}

#site_pass {
    width: 275px;
    height: 60px;
    position: absolute;
    left: 35%;
    top: 0;
    display: none;
}

#save_sinfo{
    width: 230px;
    height: 60px;
    position: absolute;
    left: 60%;
    top: 0;
    display: none;
}

.delete_pass{
    transition: 0.8s;
    border: 2px solid black;
    padding: 13px 13px;
    color: rgb(230, 227, 227);
    background-color: rgba(32, 44, 44, 1);
    font-family: monospace;
    font-size: 15pt;
    border-radius: 1cm;
    width: 230px;
    height: 60px;
    position: absolute;
    left: 60%;
    top: 15%;
    display: block;
}

.delete_pass:hover{
    background-color: rgb(189, 188, 188);
    color: rgb(46, 45, 45);
    font-family: monospace;
    border-radius: 1cm;
    cursor: pointer;
}


#add_pass {
    /*width: 47.5px;*/
    width: 200px;
    height: 60px;
    position: absolute;
    left: 41%;
    top: 0;
}

.site_password{
    transition: 0.8s;
    border: 2px solid black;
    padding: 13px 13px;
    color: rgb(230, 227, 227);
    background-color: rgba(32, 44, 44, 1);
    font-family: monospace;
    font-size: 15pt;
    border-radius: 1cm;
    width: 245px;
    height: 30px;
    position: absolute;
    left: 35%;
    top: 15%;
}

#name{
    width: 245px;
    height: 30px;
    position: absolute;
    left: 8%;
    top: 14%; /*trqbva da se uvelichava s 15 procenta za vsqka nova dobavena redichka*/
    display: block;
}

#password{
    width: 245px;
    height: 30px;
    position: absolute;
    left: 27.5%;
    top: 14%;
}

#delete{
    position: absolute;
    left: 60%;
    top: 15%;
}

#copy{
    position: absolute;
    left: 81%;
    top: 15%;
}
